/*
 Theme Name:     Black and Blue Fishing
 Theme URI:      http://blackandbluefishing.com/
 Description:    Divi Child Theme
 Author:         el.puas
 Author URI:     https://www.elpuas.com
 Template:       Divi
 Version:        1.0.0
*/


/* Theme customization starts here
------------------------------------------------------- */
:root {
  --primary-color:#1e93c8;
  --background-color: #363636;
  --font-primary: 'Libre Baskerville', serif !important;
}

header#main-header {
    background-color: var(--background-color);
}

.et_header_style_split .centered-inline-logo-wrap a {
    height: 150px;
}

ul#top-menu li a {
    color: var(--primary-color);
}

h1.et_pb_module_header {
    font-family: var(--font-primary) !important;
    font-size: 3rem !important;
    font-style: italic;
    text-transform: capitalize !important;
    letter-spacing: -1px !important;
    line-height: 1em !important;
}
